$primary-blue: #154d85;
$primary-yellow: #ffc107;
$primary-gray: #2e2e2e;
$secondary-gray: #cdcdcd;
$box-shadow-gray: #c5c5c5;

.gf-text-primary-blue {
  color: $primary-blue;
}

.gf-text-primary-gray {
  color: $primary-gray;
}

.gf-text-primary-yellow {
  color: $primary-yellow;
}

.section-title {
  border-bottom: 2px solid $primary-yellow;
  padding: 0px 1rem;
}

.gf-text-justify {
  text-align: justify;
}
