<a
  class="product-card"
  routerLink="/product-detail/{{ parseFriendlyUrl(product.name) }}"
>
  <!-- [href]="generateWhatsAppLink(product.name)"
  target="_blank" -->
  <span class="product-card__see-more fw-semibold">
    See more <i class="bi bi-arrow-up-right-circle"></i>
  </span>
  <div class="product-card__image-wrapper">
    <img
      src="{{ '/images/' + product.image | prefixPath }}"
      class="product-card__image"
      alt=""
      #img
      (error)="img.src = '/godfather/images/no-image.jpg'"
    />
  </div>
  <header>
    <h3 class="product-card__title">{{ product.name }}</h3>
  </header>
</a>
