<a
  class="product-card"
  [routerLink]="
    canRedirect ? ['/product-detail/', parseFriendlyUrl(product.name)] : null
  "
>
  <span
    class="product-card__see-more fw-semibold"
    *ngIf="size !== 'small'; else categoryTemplate"
  >
    See more <i class="bi bi-arrow-up-right-circle"></i>
  </span>
  <ng-template #categoryTemplate>
    <span
      class="badge rounded-pill product-card__category {{
        categoryClasses[product.category]
      }}"
    >
      {{ product.category }}
    </span>
  </ng-template>
  <div class="product-card__image-wrapper {{ size }}">
    <img
      src="{{ '/images/' + getProductImagePath(product) | prefixPath }}"
      class="product-card__image"
      alt=""
      #img
      (error)="img.src = '/godfather/images/no-image.jpg'"
    />
  </div>
  <header>
    <h3 class="product-card__title {{ size }}">
      {{ product.name }}
    </h3>
  </header>
</a>
