<p class="my-5 mx-auto container fs-5 gf-text-primary-grey gf-text-justify">
  Our Ovens are designed to bring efficiency and precision to your baking
  process. Available in both electric and gas models, as well as rotary and
  convection options, these ovens offer versatility to suit any bakery's needs.
  With advanced heating technology and evenly distributed airflow, they ensure
  consistent results, making them perfect for high-volume baking. Whether you're
  producing bread, pastries, or cakes, our ovens provide superior performance,
  ease of use, and energy efficiency. Ideal for bakeries looking to scale their
  operations, our ovens combine reliability with exceptional baking quality,
  saving you time and energy while improving output.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
