<p class="my-5 mx-auto container fs-5 gf-text-primary-gray gf-text-justify">
  Designed for efficiency and precision, our ovens come in electric and gas
  models with rotary and convection options to suit any bakery’s needs. Advanced
  heating technology ensures consistent results for bread, pastries, and cakes.
  Reliable, energy-efficient, and easy to use, our ovens help bakeries scale
  their operations while maintaining exceptional baking quality.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
