<p class="my-5 mx-auto container fs-5 gf-text-primary-grey  gf-text-justify">
  Our Display Cases are more than just functional – they are crafted to
  highlight the beauty and freshness of your baked goods. Designed with elegant
  aesthetics and state-of-the-art temperature control systems, these display
  units are perfect for showcasing cakes, pastries, and breads in a way that
  invites customers to indulge. We offer a variety of options, including
  heating, cold, dry, and vertical displays, all made with durable stainless
  steel for long-lasting performance and easy maintenance. Our vertical displays
  are especially suited for supermarkets and autoservice setups, providing an
  efficient and attractive way to display products in high-traffic areas.
  Additionally, we offer the option to customize your display cases with your
  business logo, ensuring that your brand is prominently featured while
  enhancing the overall customer experience. Whether you're a small bakery or a
  large-scale operation, our displays ensure that your products are always
  presented in their best light.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
