<p class="my-5 mx-auto container fs-5 gf-text-primary-grey gf-text-justify">
  Our display cases combine functionality and elegance to showcase baked goods
  at their best. They maintain optimal conditions with heating, cold, dry, and
  vertical options while enhancing presentation. Made of durable stainless
  steel, they are ideal for bakeries, supermarkets, and self-service areas.
  Custom branding options are also available to highlight your business.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
