<app-header-banner
  htmlTitle="Contact"
  image="/images/contact-banner.jpg"
  subtitle="Get in touch with us for any inquiries or support. We’re here to help!"
></app-header-banner>
<div class="container-fluid p-0">
  <h2 class="text-center my-5 pt-5 gf-text-primary-blue">
    <span class="section-title"> Find us in the world </span>
  </h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.5561352921627!2d-81.41851172450102!3d28.583088475691792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e77b260e6a1d19%3A0x876dd9c1a2cb2994!2sGodfather%20Food%20Machinery!5e0!3m2!1ses!2sco!4v1742337959747!5m2!1ses!2sco"
    width="100%"
    height="350"
    loading="lazy"
  ></iframe>
</div>
<div class="container mt-5 contact">
  <h2 class="text-center my-5 pt-5 gf-text-primary-blue">
    <span class="section-title">Get in touch</span>
  </h2>
  <div class="d-flex flex-column flex-lg-row justify-content-around">
    <div class="col-12 col-lg-4 p-2">
      <div
        class="border py-3 px-2 h-100 rounded d-flex flex-column align-items-center justify-content-start contact__card"
      >
        <div class="d-flex flex-column align-items-center mb-2">
          <h3 class="fs-2 m-0">Working Hours</h3>
          <i class="bi bi-clock-fill fs-2"></i>
        </div>
        <div class="w-100">
          <p class="w-100 text-center text-truncate">
            <strong>Monday to Friday:</strong>
            09:00 AM - 05:00 PM
          </p>
          <p class="w-100 text-center text-truncate">
            <strong>Saturday:</strong>
            09:00 AM - 01:00 PM
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 p-2">
      <div
        class="border p-3 h-100 rounded d-flex flex-column align-items-center justify-content-start contact__card"
      >
        <div class="d-flex flex-column align-items-center mb-2">
          <h3 class="fs-2 m-0">Phone</h3>
          <i class="bi bi-telephone-fill fs-2"></i>
        </div>
        <p>
          <a
            class="text-decoration-none contact__card-link w-100 text-center text-truncate"
            href="tel:+13529105594"
            >{{ PHONE }}</a
          >
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-4 p-2">
      <div
        class="border p-3 h-100 rounded d-flex flex-column align-items-center justify-content-start contact__card"
      >
        <div class="d-flex flex-column align-items-center mb-2">
          <h3 class="fs-2 m-0">Email</h3>
          <i class="bi bi-envelope-fill fs-2"></i>
        </div>
        <p>
          <a
            class="text-decoration-none contact__card-link w-100 text-center text-truncate"
            href="mailto:{{ EMAIL }}"
            #tooltip="matTooltip"
            matTooltip="{{ EMAIL }}"
            >{{ EMAIL }}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div class="my-5 py-5"></div>
