@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.product-detail {
  .product-detail__go-back {
    font-size: 1rem;
    color: $primary-blue;
    .product-detail__go-back-icon {
      transition: 0.2s;
      display: inline-block;
    }
    &:hover {
      .product-detail__go-back-icon {
        transform: translateX(-4px);
      }
    }
  }
  .product-detail__title {
    color: $primary-blue;
  }
  .product-detail__whatsapp-title {
    border: 1px solid #128c7e;
    background-color: #128c7e;
    color: #fff;
    font-size: 1rem;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 12px;
    @include fromSize("md") {
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      font-size: 1.2rem;
      margin-top: 0px;
    }
    .product-detail__whatsapp-title-icon {
      color: #fff;
    }
  }
  .model-badge {
    color: $primary-blue;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid $primary-blue;
    transition: 0.2s;
    &.current-model {
      background-color: $primary-blue;
      color: #fff;
    }
    &:hover {
      -webkit-box-shadow: 0px 0px 12px 0px $box-shadow-gray;
      -moz-box-shadow: 0px 0px 12px 0px $box-shadow-gray;
      box-shadow: 0px 0px 12px 0px $box-shadow-gray;
    }
  }
  .small-image {
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    transition: 0.2s;
    width: 70px;

    &.selected-image {
      border-color: gray !important;
    }

    &:hover {
      -webkit-box-shadow: 0px 0px 12px 0px $box-shadow-gray;
      -moz-box-shadow: 0px 0px 12px 0px $box-shadow-gray;
      box-shadow: 0px 0px 12px 0px $box-shadow-gray;
    }
  }
  .main-image {
    width: 100%;
    max-height: 55vh;
    object-fit: contain;
  }

  .feature-list {
    .feature-list__title {
      color: $primary-blue;
      margin-bottom: 0px;
      .feature-list__icon {
        color: $primary-yellow;
        vertical-align: middle;
      }
    }
  }
}
