<p class="text-center my-5 page-description">
  Equip your professional kitchen with state-of-the-art restaurant equipment
  designed for high-volume performance and unmatched durability. Our stainless
  steel chef tables, powerful stoves, deep fryers, and precision slicers provide
  efficiency, speed, and consistency in every service. Built for the demands of
  modern restaurants, our products blend ergonomic design with advanced
  technology, ensuring seamless operation in the busiest kitchens. Whether you
  run a fine-dining establishment or a fast-paced commercial kitchen, our
  high-quality solutions will elevate your culinary workflow. Invest in
  excellence—because every great dish starts with the right equipment.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
