<app-header-banner
  htmlTitle="About us"
  image="/images/about-us-banner.jpg"
  subtitle="Meet our team, find the best way to connect with us."
></app-header-banner>
<div class="container-fluid p-0">
  <p class="container mt-5 pt-5 text-justify fs-5 gf-text-primary-grey">
    <strong>Godfather Food Machinery</strong> is a family-owned company and a
    leading provider of high-quality machinery and equipment for the food
    industry. We specialize in the manufacturing and distribution of bakery
    equipment, rotary ovens, and display counters, ensuring innovative solutions
    with superior performance to meet our customers' needs.
  </p>

  <p class="container text-justify fs-5 gf-text-primary-grey">
    With over 25 years of experience in the industry, we have built a solid
    track record as experts in the design, manufacturing, and direct importation
    of high-performance equipment. Our extensive experience supports our
    commitment to offering products that exceed expectations in terms of
    quality, functionality, and durability, all in one place. As a family
    business, we take pride in the personal attention and care we provide to
    every client. Our dedication to building long-term relationships has been
    the foundation of our success and the trust our clients place in us.
  </p>

  <p class="container text-justify fs-5 gf-text-primary-grey">
    Over the years, we have witnessed the positive impact our products have on
    our clients' businesses, ranging from large corporations to food industry
    entrepreneurs. Customer satisfaction is our top priority, and we continually
    work to ensure that each of our products meets the highest quality
    standards.
  </p>
  <p class="container mb-5 pb-5 text-justify fs-5">
    We invite all business owners and entrepreneurs to discover the benefits
    <strong>Godfather Food Machinery</strong> can bring to your business. We
    would be honored to be your partner in your company's growth and success.
  </p>
  <div class="mision-section">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-12 col-lg-5">
          <img
            [src]="'/images/mission.jpg' | prefixPath"
            class="img-fluid mision-image"
            alt=""
          />
        </div>
        <div class="col-12 col-lg-7">
          <h3 class="text-center fs-1 gf-text-primary-blue mb-4 mt-4 mt-lg-0">
            <span class="section-title">Our Mission</span>
          </h3>
          <p class="fs-5 gf-text-primary-grey">
            At <strong>Godfather Food Machinery,</strong> our mission is to
            provide the highest quality machinery and equipment for the food
            industry, offering innovative solutions with superior performance
            that contribute to the success of our clients. We are committed to
            being strategic partners to businesses and entrepreneurs, delivering
            reliable products tailored to each business's specific needs, with a
            focus on excellence and complete customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row my-lg-5 align-items-center">
      <div class="col-12 col-lg-5">
        <img
          [src]="'/images/vision.jpg' | prefixPath"
          class="img-fluid vision-image"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-7">
        <h3 class="text-center fs-1 gf-text-primary-blue mb-4 mt-4 mt-lg-0">
          <span class="section-title">Our Vision</span>
        </h3>
        <p class="fs-5 gf-text-primary-grey">
          To be recognized as leaders in the food machinery industry,
          specializing in bakery equipment, rotary ovens, and display counters.
          We aim to continue being the preferred partner for businesses of all
          sizes, driving their growth with quality products and exceptional
          service. In the future, we aim to expand our presence in new markets,
          always maintaining our principles of innovation, quality, and
          commitment to our customers.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3 class="text-center fs-1 mb-4 gf-text-primary-blue">
        <span class="section-title">Our Story</span>
      </h3>
      <div class="d-flex flex-column flex-md-row justify-content-around">
        <div class="d-none d-md-block col-12 col-md-6 col-lg-4 p-4">
          <app-instagram-post postId="DHcNRF3MvDM"></app-instagram-post>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-4">
          <app-instagram-post postId="DHGXYzfRrZV"></app-instagram-post>
        </div>
        <div class="d-none d-lg-block col-12 col-lg-4 p-4">
          <app-instagram-post postId="DGLtVXwsS1m"></app-instagram-post>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 py-5"></div>
</div>
