@import "@styles/mixins.scss";
@import "@styles/variables.scss";
.navbar {
  &:has(.navbar-collapse.collapsing),
  &:has(.navbar-collapse.show) {
    padding-bottom: 2rem !important;
  }
  &:has(.navbar-collapse.collapsing),
  &:has(.navbar-collapse.show),
  &.navbar--background {
    background-color: rgb($primary-blue, 90%) !important;
  }
  &#principal-menu,
  &#principal-menu {
    #principal-menu__logo {
      transition: 0.4s;
    }
  }

  .nav-link {
    @include hoverBorderBottom;
    &.dropdown-toggle::after {
      border: none !important;
    }
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}
