<p class="text-center my-5 mx-auto container fs-5 gf-text-primary-grey">
  Our range of Bakery Equipment is designed to simplify and accelerate your
  baking process, ensuring top-quality results every time. From Mixers that
  create perfectly blended doughs to Dough Sheeters that roll out precise and
  uniform dough, we provide the tools to help you bake with consistency and
  speed. Our Spiral Mixer, which is especially important to us, specializes in
  producing the perfect cake batters, providing gentle yet efficient mixing that
  preserves the texture needed for delicate cake recipes. Our Fryers are ideal
  for producing crispy, golden pastries, while our Dough Dividers provide
  precision and efficiency in portioning dough for uniform consistency. Whether
  you're just starting out or running an established bakery, our equipment helps
  you streamline production, reduce labor, and maintain high standards across
  every baked item.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
