<p class="my-5 mx-auto container fs-5 gf-text-primary-grey gf-text-justify">
  From mixers and dough sheeters to fryers and dough dividers, our bakery
  equipment streamlines production while ensuring top-quality results. Our
  Spiral Mixer is perfect for delicate cake batters, while our fryers and dough
  dividers enhance efficiency and consistency. Whether you’re a startup or an
  established bakery, our equipment helps optimize workflow and maintain high
  standards.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
