<p class="text-center my-5 page-description">
  Elevate your bakery to the next level with our high-performance equipment,
  designed for precision and durability. From industrial ovens to powerful
  mixers and dough sheeters, our machines ensure perfect consistency and
  efficiency in every batch. Crafted with high-quality materials and
  cutting-edge technology, our bakery solutions combine modern design with the
  reliability professionals demand. Whether you need a planetary mixer for
  delicate pastries or a deck oven for artisan bread, we have the tools to
  enhance your production. Build a bakery that delivers perfection every
  time—with innovation, efficiency, and superior craftsmanship.
</p>
<section class="product-list">
  @for (product of productList; track product.id){
  <app-product-card [product]="product"></app-product-card>
  }
</section>
