<article
  id="header-banner"
  class="container-fluid header-banner d-flex flex-column justify-content-center align-items-center"
>
  <img
    *ngIf="!video && image"
    [src]="image | prefixPath"
    class="header-banner__image"
    alt=""
  />
  <video autoplay loop class="header-banner__image" *ngIf="video && !image">
    <source [src]="video | prefixPath" type="video/mp4" />
  </video>
  <h2
    class="header-banner__title text-center"
    *ngIf="htmlTitle"
    [innerHTML]="htmlTitle"
  ></h2>
  <h2 class="header-banner__title text-center" *ngIf="title">{{ title }}</h2>
  <p class="header-banner__description text-center" *ngIf="subtitle">
    {{ subtitle }}
  </p>
</article>
