<app-header-banner
  [htmlTitle]="title"
  video="/videos/portada.mp4"
  subtitle="High performance equipment for your business"
></app-header-banner>
<div class="my-5 py-3"></div>
<div class="container my-5">
  <h3 class="text-center fs-1 mb-4 gf-text-primary-blue">
    <span class="section-title">Powering Your Business for Success</span>
  </h3>
  <p class="fs-5 gf-text-primary-grey">
    At Godfather Food Machinery, we know what it takes to elevate your bakery or
    food business. With over 25 years of experience, we provide high-performance
    ovens, state-of-the-art bakery equipment, and display cases designed to
    showcase your products and attract more customers. Our innovative and
    durable solutions help streamline production, enhance food presentation, and
    support the growth of your business.
  </p>
  <p class="fs-5 gf-text-primary-grey">
    Whether you're an entrepreneur or a well-established company, we’re here to
    be your trusted partner. Discover how our machines can transform your
    production and boost your sales!
  </p>
  <div class="mt-5 d-flex flex-column flex-lg-row justify-content-around">
    <div
      class="col-12 col-lg-4 p-4"
      *ngFor="let category of categories"
    >
      <app-category-card [category]="category"></app-category-card>
    </div>
  </div>
</div>
<div class="my-5 py-3"></div>
<div class="container my-5 p-4">
  <h3 class="text-center fs-1 mb-4 gf-text-primary-blue">
    <span class="section-title">Find Your Next Machine Today</span>
  </h3>
  <div class="position-relative">
    <iframe
      src="https://player.vimeo.com/video/1069093596?h=55c3fc2379&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      height="500px"
      width="100%"
      title="Video horizontal"
    ></iframe>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
</div>
<div class="my-5 py-3"></div>
<div class="container my-5">
  <h3 class="text-center fs-1 mb-4 gf-text-primary-blue">
    <span class="section-title">Our Story</span>
  </h3>
  <div class="d-flex flex-column flex-md-row justify-content-around">
    <div class="col-12 col-md-6 col-lg-4 p-4">
      <app-instagram-post postId="DBtQ7AQxT71"></app-instagram-post>
    </div>
    <div class="d-none d-md-block col-12 col-md-6 col-lg-4 p-4">
      <app-instagram-post postId="C8uK586RGC_"></app-instagram-post>
    </div>
    <div class="d-none d-lg-block col-12 col-lg-4 p-4">
      <app-instagram-post postId="C-l9U8Ksxjv"></app-instagram-post>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br />
