<section class="footer">
  <div class="m-auto container row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <a routerLink="/">
            <img
              [src]="'/images/godfather-icon-white-letter.png' | prefixPath"
              height="90"
              alt=""
            />
          </a>
        </div>
        <div class="col-12">
          <a [href]="INSTAGRAM_LINK" target="_blank" class="ms-3 me-4">
            <i class="bi bi-instagram text-light fs-2"></i>
          </a>
          <a [href]="WHATSAPP_LINK" target="_blank">
            <i class="bi bi-whatsapp text-light fs-2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 quick-links">
      <h4 class="text-light">Quick links</h4>
      <div class="d-flex flex-column align-items-start">
        <a routerLink="/restaurant" class="text-light quick-links__link">
          Restaurant
        </a>
        <a routerLink="/bakery" class="text-light quick-links__link">
          Bakery
        </a>
        <a routerLink="/display" class="text-light quick-links__link">
          Display
        </a>
        <a routerLink="/about" class="text-light quick-links__link">
          About us
        </a>
        <a target="_blank" href="/files/terms-and-conditions.pdf" class="text-light quick-links__link">
          Terms & conditions
        </a>
        <a target="_blank" href="/files/terminos-y-condiciones.pdf" class="text-light quick-links__link">
          Términos y condiciones
        </a>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <h4 class="text-light">Contact</h4>
    </div>
  </div>
</section>
